<div style="text-align: center;">
    <h2> Angular Assignment - 14 (Pipe) </h2>

    <!-- <h3> {{"Marvellous" | myRev }} </h3> 

    <h3> Addition of 8 and 3 is :  {{ 8 | myAdd : 3}} </h3>

    <h3> Multipliaction of 7 and 3 is :  {{ 7 | myMult : 3}} </h3> -->

    <!-- <h3> {{ "No" | marvellousChk :"Odd" | marvellousChk : "Even" |  marvellousChk : "Perfect" }} </h3> -->

    <!-- <h3> {{ "No" | marvellousChk :"Odd"  : "Even" : "Perfect" : "Prime"}} </h3> -->

    <h3> {{ "No" | marvellousChk :"Odd"}} </h3>
    <h3> {{ "No" | marvellousChk : "Perfect"}} </h3>
    <h3> {{ "No" | marvellousChk : "Even" }} </h3>
    <h3> {{ "No" | marvellousChk : "Prime" }} </h3>

</div>

